@font-face {
  font-family: 'kindergarten';
  src: url('../Styles/fonts/kindergarten.ttf') format('truetype');
}
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home {
  position: absolute;
  background-color: #01334c;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}
.home h1 {
  font-size: 40px;
  display: flex;
  width: 35%;
  margin: 60px auto;
  justify-content: space-around;
}
.home p {
  width: 70%;
  margin: 20px auto;
  font-size: 18px;
  color: #f1b279;
  font-family: 'kindergarten';
}
.home .home-button {
  background-color: #e77d1d;
  border: 0 solid #e5e7eb;
  margin: 60px auto;
  box-sizing: border-box;
  color: #01334c;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  width: 50%;
  max-width: 300px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.home .home-button:focus {
  outline: 0;
}
.home .home-button:after {
  content: '';
  position: absolute;
  border: 1px solid #fed430;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}
.home .home-button:hover:after {
  bottom: 2px;
  left: 2px;
}
.home .inputGroup {
  margin-bottom: 1.5rem;
  position: relative;
  width: 40%;
  margin: 20px auto;
}
.home .inputGroup .labelPseudo {
  cursor: default;
}
.home .inputGroup .labelPseudo > .inputPseudo {
  border: none;
  font-family: 'kindergarten';
  border-bottom: 1px solid #6cdac2;
  transform: rotate(1deg);
  width: 100%;
  height: 38px;
  font-size: 18px;
  padding-top: 10px;
  background-color: #01334c;
  color: #6cdac2;
}
.home .inputGroup .labelPseudo > .inputPseudo:focus {
  outline: none;
}
.home .inputGroup .labelPseudo > .inputPseudo:hover {
  border-color: #479c8a;
}
.home .inputGroup .labelPseudo > .inputPseudo:disabled {
  cursor: not-allowed;
}
.home .inputGroup .labelPseudo > .errorPseudo:hover {
  border-bottom: #6e1509 solid 1px !important;
}
.home .inputGroup .labelPseudo > .labelHolder {
  position: absolute;
  font-family: 'kindergarten';
  top: 24px;
  left: 6px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.651);
  transition: top 0.2s;
  transform: rotate(1deg);
  cursor: text;
}
.home .inputGroup .labelPseudo > .inputPseudo:focus + .labelHolder,
.home .inputGroup .labelPseudo > .inputPseudo:valid + .labelHolder {
  top: -6px;
  font-size: 18px;
  margin-bottom: 32px;
}
.home .errorPseudo {
  border-bottom: #9d1e0d solid 1px !important;
  color: #f16552 !important;
}
.home .errorMessage {
  font-size: 12px;
  margin: 0 auto;
  color: #f16552;
  transform: rotate(1deg);
}

@media (min-width: 768px) {
  .home-button {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
.credits {
  font-style: italic;
  font-size: 12px;
  text-align: right;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.banner {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 10px auto;
  height: 60px;
}
.banner .logoRibote {
  font-size: 18px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.banner .pseudoUser {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.banner .pseudoUser p {
  margin: 0;
}
.banner .pseudoUser .pseudoStorage {
  font-family: 'kindergarten';
  line-height: 24px;
  font-size: 18px;
  color: #f1b279;
}

.menu {
  position: absolute;
  background-color: #01334c;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.menu h2 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 100px;
}

.filter {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}
.filter ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.filter select {
  display: inline-block;
}

.gameList {
  display: grid;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.gameList .game {
  border: 1px solid #e77d1d;
  border-radius: 10px;
  background-color: #e77f1d36;
  cursor: pointer;
  transition: background-color 0.6s;
}
.gameList .game:hover {
  background-color: #e77f1da2;
}
.gameList .game .headerGame {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #e77f1da2;
  border-radius: 10px 10px 0 0;
}
.gameList .game .headerGame h3 {
  margin: 0;
  font-size: 18px;
  color: #01334c;
}
.gameList .game .headerGame .headerGameInfo p {
  margin: 0;
  font-size: 12px;
  color: #01334c;
}
.gameList .game .descriptionGame {
  font-size: 12px;
  width: 95%;
  margin: 10px auto;
}

.popup {
  position: absolute;
  width: 90%;
  background-color: #01334c;
  border: 1px solid #e77d1d;
  border-radius: 10px;
  top: 52%;
  left: 50%;
  height: 80%;
  transform: translate(-50%, -50%);
  max-width: 800px;
}
.popup .popupHeader {
  display: flex;
  justify-content: space-between;
  width: 94%;
  align-items: center;
  margin: auto;
}
.popup .popupHeader .iconRules,
.popup .popupHeader .iconCross {
  cursor: pointer;
}
.popup h4 {
  width: 90%;
  margin: 40px auto;
  text-align: center;
  font-size: 20px;
}
.popup .popupElement {
  width: 90%;
  margin: auto;
}
.popup .popupElement .popupDescription {
  text-align: center;
  width: 90%;
  margin: auto;
}
.popup .popupElement h5 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.popup .popupElement button {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
