.banner {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 10px auto;
  height: 60px;
  .logoRibote {
    font-size: 18px;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  .pseudoUser {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    p {
      margin: 0;
    }
    .pseudoStorage {
      font-family: 'kindergarten';
      line-height: 24px;
      font-size: 18px;
      color: lighten($color-secondary, 20%);
    }
  }
}
