.filter {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  select {
    display: inline-block;
  }
}
