.gameList {
  display: grid;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  .game {
    border: 1px solid $color-secondary;
    border-radius: 10px;
    background-color: #e77f1d36;
    cursor: pointer;
    transition: background-color 0.6s;
    &:hover {
      background-color: #e77f1da2;
    }
    .headerGame {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background-color: #e77f1da2;
      border-radius: 10px 10px 0 0;
      h3 {
        margin: 0;
        font-size: 18px;
        color: $color-primary;
      }
      .headerGameInfo {
        p {
          margin: 0;
          font-size: 12px;
          color: $color-primary;
        }
      }
    }
    .descriptionGame {
      font-size: 12px;
      width: 95%;
      margin: 10px auto;
    }
  }
}
