.home {
  position: absolute;
  background-color: $color-primary;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  h1 {
    font-size: 40px;
    display: flex;
    width: 35%;
    margin: 60px auto;
    justify-content: space-around;
  }
  p {
    width: 70%;
    margin: 20px auto;
    font-size: 18px;
    color: lighten($color-secondary, 20%);
    font-family: 'kindergarten';
  }
  .home-button {
    background-color: $color-secondary;
    border: 0 solid #e5e7eb;
    margin: 60px auto;
    box-sizing: border-box;
    color: $color-primary;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 0.75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    width: 50%;
    max-width: 300px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    &:focus {
      outline: 0;
    }

    &:after {
      content: '';
      position: absolute;
      border: 1px solid $color-tertiary;
      bottom: 4px;
      left: 4px;
      width: calc(100% - 1px);
      height: calc(100% - 1px);
    }

    &:hover:after {
      bottom: 2px;
      left: 2px;
    }
  }
  .inputGroup {
    margin-bottom: 1.5rem;
    position: relative;
    width: 40%;
    margin: 20px auto;
    .labelPseudo {
      cursor: default;
    }
    .labelPseudo > .inputPseudo {
      border: none;
      font-family: 'kindergarten';
      border-bottom: 1px solid #6cdac2;
      transform: rotate(1deg);
      width: 100%;
      height: 38px;
      font-size: 18px;
      padding-top: 10px;
      background-color: $color-primary;
      color: #6cdac2;
      &:focus {
        outline: none;
      }
      &:hover {
        border-color: #479c8a;
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
    .labelPseudo > .errorPseudo:hover {
      border-bottom: darken($error, 10%) solid 1px !important;
    }
    .labelPseudo > .labelHolder {
      position: absolute;
      font-family: 'kindergarten';
      top: 24px;
      left: 6px;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.651);
      transition: top 0.2s;
      transform: rotate(1deg);
      cursor: text;
    }
    .labelPseudo > .inputPseudo:focus + .labelHolder,
    .labelPseudo > .inputPseudo:valid + .labelHolder {
      top: -6px;
      font-size: 18px;
      margin-bottom: 32px;
    }
  }

  .errorPseudo {
    border-bottom: $error solid 1px !important;
    color: lighten($error, 30%) !important;
  }
  .errorMessage {
    font-size: 12px;
    margin: 0 auto;
    color: lighten($error, 30%);
    transform: rotate(1deg);
  }
}
@media (min-width: 768px) {
  .home-button {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
.credits {
  font-style: italic;
  font-size: 12px;
  text-align: right;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
