.menu {
  position: absolute;
  background-color: $color-primary;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  h2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 100px;
  }
}
