.popup {
  position: absolute;
  width: 90%;
  background-color: $color-primary;
  border: 1px solid $color-secondary;
  border-radius: 10px;
  top: 52%;
  left: 50%;
  height: 80%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  .popupHeader {
    display: flex;
    justify-content: space-between;
    width: 94%;
    align-items: center;
    margin: auto;
    .iconRules,
    .iconCross {
      cursor: pointer;
    }
  }
  h4 {
    width: 90%;
    margin: 40px auto;
    text-align: center;
    font-size: 20px;
  }
  .popupElement {
    width: 90%;
    margin: auto;
    .popupDescription {
      text-align: center;
      width: 90%;
      margin: auto;
    }
    h5 {
      font-size: 18px;
      margin-bottom: 10px;
      margin-top: 40px;
    }
    button {
      text-align: center;
    }
  }
}
